// These permissions apply to javac
grant codeBase "file:${java.home}/lib/-" {
        permission java.security.AllPermission;
};

// These permissions apply to all shared system extensions
grant codeBase "file:${java.home}/jre/lib/ext/-" {
        permission java.security.AllPermission;
};

// These permissions apply to all shared system extensions
grant codeBase "file:${java.home}/jre/lib/-" {
        permission java.security.AllPermission;
};

// These permissions apply to javac when ${java.home] points at $JAVA_HOME/jre
grant codeBase "file:${java.home}/../lib/-" {
        permission java.security.AllPermission;
};

// These permissions apply to all shared system extensions when
// ${java.home} points at $JAVA_HOME/jre
grant codeBase "file:${java.home}/lib/ext/-" {
        permission java.security.AllPermission;
};

grant codeBase "file:c:\\projects\\easygsp\\easygsp\\webapps\app1\\WEB-INF" {
        permission java.security.AllPermission;
        permission java.io.FilePermission "c:\\projects\\easygsp\\easygsp\\webapps\\app1\\WEB-INF", "read";
};


grant codeBase "file:/C:/projects/easygsp/easygsp/out/-" {
       permission java.security.AllPermission;
        permission java.lang.RuntimePermission "loadLibrary.C:\\Program Files\\JetBrains\\IntelliJ IDEA 7.0.3\\bin\\breakgen.dll";
        permission java.lang.RuntimePermission "createSecurityManager";
        permission java.lang.RuntimePermission "setSecurityManager";
        permission java.lang.RuntimePermission "createSecurityManager";
        permission java.lang.RuntimePermission "setSecurityManager";
        permission java.lang.RuntimePermission "accessClassInPackage.sun.reflect";
        permission java.lang.RuntimePermission "accessClasssInPackage.sun.util.logging.resources";
        permission java.lang.RuntimePermission "accessClassInPackage.sun.*";
        permission java.lang.RuntimePermission "createClassLoader";
        permission java.lang.RuntimePermission "readFileDescriptor";
        permission java.lang.RuntimePermission "writeFileDescriptor";
        permission java.lang.RuntimePermission "accessDeclaredMembers";

        permission java.util.PropertyPermission "idea.launcher.bin.path", "read";
        permission java.util.PropertyPermission "idea.launcher.port", "read";
        permission java.util.PropertyPermission "FBLog4j", "read";
        permission java.util.PropertyPermission "user.dir", "read";
        permission java.util.PropertyPermission "java.io.tmpdir", "read";
        permission java.util.PropertyPermission "user.dir", "read";

        permission java.lang.reflect.ReflectPermission "suppressAccessChecks";

        permission java.io.FilePermission "${java.home}/-", "read";
        permission java.io.FilePermission "${easygsp.home}/conf/-", "read";
        permission java.io.FilePermission "${easygsp.home}/webapps/-", "read";
        permission java.io.FilePermission "${easygsp.home}/webapps/", "read";
        permission java.io.FilePermission "${easygsp.home}/lib/-", "read";

        permission java.io.FilePermission "${java.home}/lib/resources.jar", "read";
        permission java.io.FilePermission "${java.home}/lib/meta-index", "read";
        permission java.io.FilePermission "${java.home}/lib/rt.jar", "read";
        permission java.io.FilePermission "${java.home}/lib/sunrsasign.jar", "read";
        permission java.io.FilePermission "${java.home}/lib/jsse.jar", "read";

        permission java.util.PropertyPermission "groovy.target.directory", "read";
        permission java.net.SocketPermission "*:*", "accept,resolve";

};

grant codeBase "file:/groovy/script/-" {
          permission java.lang.RuntimePermission "accessDeclaredMembers";

};

grant codeBase "file:/groovy/script" {
         permission java.lang.RuntimePermission "accessDeclaredMembers";
};

grant codeBase "file:/groovy/security/-" {
        permission java.lang.RuntimePermission "accessDeclaredMembers";
};

grant codeBase "file:C:/projects/easygsp/easygsp/lib/-" {
       permission java.security.AllPermission;
};

grant codeBase "file:C:/projects/easygsp/easygsp/lib/groovy-all-1.6.1.jar" {
    permission java.security.AllPermission;
};


grant {
        
      permission java.security.AllPermission;
    permission java.net.SocketPermission "localhost:3050", "connect";
    permission java.util.PropertyPermission "java.home", "read";
    permission java.util.PropertyPermission "java.naming.*", "read";
    permission java.util.PropertyPermission "javax.sql.*", "read";

    // OS Specific properties to allow read access
    permission java.util.PropertyPermission "os.name", "read";
    permission java.util.PropertyPermission "os.version", "read";
    permission java.util.PropertyPermission "os.arch", "read";
    permission java.util.PropertyPermission "file.separator", "read";
    permission java.util.PropertyPermission "path.separator", "read";
    permission java.util.PropertyPermission "line.separator", "read";

    // JVM properties to allow read access
    permission java.util.PropertyPermission "java.version", "read";
    permission java.util.PropertyPermission "java.vendor", "read";
    permission java.util.PropertyPermission "java.vendor.url", "read";
    permission java.util.PropertyPermission "java.class.version", "read";
    permission java.util.PropertyPermission "java.specification.version", "read";
    permission java.util.PropertyPermission "java.specification.vendor", "read";
    permission java.util.PropertyPermission "java.specification.name", "read";

    permission java.util.PropertyPermission "java.vm.specification.version", "read";
    permission java.util.PropertyPermission "java.vm.specification.vendor", "read";
    permission java.util.PropertyPermission "java.vm.specification.name", "read";
    permission java.util.PropertyPermission "java.vm.version", "read";
    permission java.util.PropertyPermission "java.vm.vendor", "read";
    permission java.util.PropertyPermission "java.vm.name", "read";

    permission java.util.PropertyPermission "user.name", "read";
    permission java.util.PropertyPermission "file.encoding", "read";
    permission java.util.PropertyPermission "groovy.source.encoding", "read";
    permission java.io.FilePermission "C:\\projects\\easygsp\\easygsp\\lib\\jaybird-full-2.1.6.jar", "read";

    // delete this
    permission java.util.PropertyPermission "user.home", "read";
    permission java.io.FilePermission "C:\\Documents and Settings\\dsmith4\\junit.properties", "read";
    permission java.lang.RuntimePermission "setIO";
    permission java.io.FilePermission "C:\\projects\\easygsp\\easygsp\\webapps\\app1\\WEB-INF", "read";
    permission java.io.FilePermission "C:\\projects\\easygsp\\easygsp\\webapps\\app1\\WEB-INF\\-", "read";

};
